body{
    background-color:#ADACB5 ;
    margin: 0px;
}

/*header*/
header{
    background-color:#2D3142 ;
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    background-color:#2D3142 ;
    color: white;
    text-align: center;
}

nav a{
    padding: 14px 16px;
    display: inline-block;
    color: #D8D5DB;
}

nav a:hover{
    background-color: #B0D7FF;
    color: black;
}

/*main*/
main{
    display: flex;
    margin: 30px;
    gap: 20px;
}

aside{
    flex: 1;
    text-align: center;
    position: relative;
    margin-top: -100px; /*蓋住 header*/
    padding: 20px;
    border-radius: 15px;
    z-index: 2;
}

aside img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 5px solid #fff; 
}

/*article*/
article{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section {
    background-color: #D8D5DB;
    padding: 20px;
    border-radius: 15px;
}

/* slogan */
.slogan {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

/*skill*/
.skill-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-item {
    text-align: center;
}

.skill-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/*exp*/
.exp-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.exp-item {
    display: flex;
    align-items: center;
    background-color: #F9F9FB;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    gap: 25px;
}

/* 左右交錯排列 */
.exp-item.left img {
    order: 0;
}
.exp-item.right img {
    order: 2;
}

.exp-item img {
    width: 160px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
}

.exp-item h4 {
    margin-top: 0;
    color: #2D3142;
}

.exp-item p {
    line-height: 1.6;
    text-align: justify;
}
/* footer */
footer {
    background-color: #2D3142;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer a{
    color: white;
}